<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by me, Ily! It uses data from <a href="https://www.mapbox.com/" target="blank">mapbox.com</a> and <a href="https://darksky.net" target="blank">darksky.net!</a></p>
      <p>I created this website with the purpose of learning how to use express, to get comfortable</p>
      <p>with the use of API's and to work in a project with a back-end focus.</p>
    </div>

    {{>footer}}
  </body>
</html>
